<a href="https://colab.research.google.com/github/grazi-rodrigues/AnimaCursoDeExtensaoPythonPandas2023/blob/main/Primeiro_Exemplo_em_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Primeiro Exemplo de manipulação de dados usando Python Pandas

Autor: Graziele dos Santos Rodrigues

In [1]:
# Importando biblioteca pandas no Python
import pandas as pd

# Criando um DataFrame a partir de um arquivo.
combustiveis_df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/ca-2021-02.xlsx")

In [2]:
# Executando apenas o nome do dataframe, o notebook mostra o conteúdo dele.
combustiveis_df

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168404,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,ETANOL,2021-12-31,5.859,NaN,R$ / litro,PETROSERRA
168405,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA,2021-12-31,6.580,NaN,R$ / litro,BRANCA
168406,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,ETANOL,2021-12-31,4.740,NaN,R$ / litro,BRANCA
168407,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,DIESEL S10,2021-12-31,5.448,NaN,R$ / litro,BRANCA
168408,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA ADITIVADA,2021-12-31,6.580,NaN,R$ / litro,BRANCA

Warning: total number of rows (168409) exceeds max_rows (20000). Limiting to first (20000) rows.

In [3]:
# Usa o print para ver o dataframe!
print(combustiveis_df)

       Regiao - Sigla Estado - Sigla  Municipio  \
0                  NE             AL  ARAPIRACA
1                  NE             AL  ARAPIRACA
2                  NE             AL  ARAPIRACA
3                  NE             AL  ARAPIRACA
4                  NE             AL  ARAPIRACA
...               ...            ...        ...
168404             NE             BA     JEQUIE
168405             SE             MG  ITUIUTABA
168406             SE             MG  ITUIUTABA
168407             SE             MG  ITUIUTABA
168408             SE             MG  ITUIUTABA

                                           Revenda      CNPJ da Revenda  \
0                             POSTO ARAPIRACA LTDA   12.451.076/0004-65
1                             POSTO ARAPIRACA LTDA   12.451.076/0004-65
2                             POSTO ARAPIRACA LTDA   12.451.076/0004-65
3                             POSTO ARAPIRACA LTDA   12.451.076/0004-65
4                             POSTO ARAPIRACA LTDA   12.451.076/0004-65
...                                            ...                  ...
168404  COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA   28.629.089/0001-79
168405           ABC DISTRIBUICAO DE PETROLEO LTDA   13.117.591/0006-38
168406           ABC DISTRIBUICAO DE PETROLEO LTDA   13.117.591/0006-38
168407           ABC DISTRIBUICAO DE PETROLEO LTDA   13.117.591/0006-38
168408           ABC DISTRIBUICAO DE PETROLEO LTDA   13.117.591/0006-38

                                      Nome da Rua Numero Rua Complemento  \
0                                  RODOVIA AL 220        105       KM 68
1                                  RODOVIA AL 220        105       KM 68
2                                  RODOVIA AL 220        105       KM 68
3                                  RODOVIA AL 220        105       KM 68
4                                  RODOVIA AL 220        105       KM 68
...                                           ...        ...         ...
168404                  AVENIDA T LOT JD TROPICAL         53         NaN
168405  AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA       2415         NaN
168406  AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA       2415         NaN
168407  AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA       2415         NaN
168408  AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA       2415         NaN

             Bairro        Cep             Produto Data da Coleta  \
0       CANAFISTULA  57302-605            GASOLINA     2021-11-01
1       CANAFISTULA  57302-605              ETANOL     2021-11-01
2       CANAFISTULA  57302-605              DIESEL     2021-11-01
3       CANAFISTULA  57302-605  GASOLINA ADITIVADA     2021-11-01
4       CANAFISTULA  57302-605          DIESEL S10     2021-11-01
...             ...        ...                 ...            ...
168404     TROPICAL  45209-130              ETANOL     2021-12-31
168405     ALVORADA  38307-113            GASOLINA     2021-12-31
168406     ALVORADA  38307-113              ETANOL     2021-12-31
168407     ALVORADA  38307-113          DIESEL S10     2021-12-31
168408     ALVORADA  38307-113  GASOLINA ADITIVADA     2021-12-31

        Valor de Venda  Valor de Compra Unidade de Medida       Bandeira
0                6.799              NaN        R$ / litro  VIBRA ENERGIA
1                5.299              NaN        R$ / litro  VIBRA ENERGIA
2                5.549              NaN        R$ / litro  VIBRA ENERGIA
3                6.899              NaN        R$ / litro  VIBRA ENERGIA
4                5.649              NaN        R$ / litro  VIBRA ENERGIA
...                ...              ...               ...            ...
168404           5.859              NaN        R$ / litro     PETROSERRA
168405           6.580              NaN        R$ / litro         BRANCA
168406           4.740              NaN        R$ / litro         BRANCA
168407           5.448              NaN        R$ / litro         BRANCA
168408           6.580              NaN        R$ / litro         BRANCA

[168409 rows x 16 columns]

In [8]:
display(combustiveis_df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168404,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,ETANOL,2021-12-31,5.859,NaN,R$ / litro,PETROSERRA
168405,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA,2021-12-31,6.580,NaN,R$ / litro,BRANCA
168406,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,ETANOL,2021-12-31,4.740,NaN,R$ / litro,BRANCA
168407,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,DIESEL S10,2021-12-31,5.448,NaN,R$ / litro,BRANCA
168408,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA ADITIVADA,2021-12-31,6.580,NaN,R$ / litro,BRANCA

Warning: total number of rows (168409) exceeds max_rows (20000). Limiting to first (20000) rows.

In [5]:
# Exibe as primeiras 5 linhas
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [ ]:
# Exibindos as primeiras 15 linhas
display(combustiveis_df.head(15))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA
5,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,GASOLINA,2021-11-01,7.198,NaN,R$ / litro,VIBRA ENERGIA
6,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,ETANOL,2021-11-01,5.982,NaN,R$ / litro,VIBRA ENERGIA
7,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,DIESEL,2021-11-01,5.974,NaN,R$ / litro,VIBRA ENERGIA
8,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,GASOLINA ADITIVADA,2021-11-01,7.208,NaN,R$ / litro,VIBRA ENERGIA
9,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,DIESEL S10,2021-11-01,5.983,NaN,R$ / litro,VIBRA ENERGIA
10,NE,AL,DELMIRO GOUVEIA,AUTO POSTO DA PEDRA LTDA,05.518.639/0001-87,RUA FLORIANO PEIXOTO,281,NaN,CENTRO,57480-000,GASOLINA,2021-11-01,7.197,NaN,R$ / litro,BRANCA
11,NE,AL,DELMIRO GOUVEIA,AUTO POSTO DA PEDRA LTDA,05.518.639/0001-87,RUA FLORIANO PEIXOTO,281,NaN,CENTRO,57480-000,ETANOL,2021-11-01,5.987,NaN,R$ / litro,BRANCA
12,NE,AL,DELMIRO GOUVEIA,AUTO POSTO DA PEDRA LTDA,05.518.639/0001-87,RUA FLORIANO PEIXOTO,281,NaN,CENTRO,57480-000,DIESEL,2021-11-01,5.978,NaN,R$ / litro,BRANCA
13,NE,AL,DELMIRO GOUVEIA,AUTO POSTO DA PEDRA LTDA,05.518.639/0001-87,RUA FLORIANO PEIXOTO,281,NaN,CENTRO,57480-000,DIESEL S10,2021-11-01,5.989,NaN,R$ / litro,BRANCA
14,NE,AL,DELMIRO GOUVEIA,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,04.431.113/0001-00,AVENIDA CAXANGA,126,NaN,PEDRA VELHA,57480-000,GASOLINA,2021-11-01,7.175,NaN,R$ / litro,BRANCA

In [ ]:
# Comandos DataFrame.shape e Dataframe.describe
print(combustiveis_df.shape)
# Mostra o número de linhas e colunas (linhas, colunas)

(168409, 16)

In [ ]:
#Quais são as colunas e que tipo de dados cada um tem...
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB
None

In [ ]:
# describe() mostra as estatísticas "mais básica" que a info()
print(combustiveis_df.describe())

       Valor de Venda  Valor de Compra
count   168409.000000              0.0
mean         6.005184              NaN
std          0.794541              NaN
min          2.849000              NaN
25%          5.339000              NaN
50%          5.859000              NaN
75%          6.699000              NaN
max          8.990000              NaN

In [ ]:
# Filtrar por apenas uma coluna
display(combustiveis_df['Revenda'])

0                               POSTO ARAPIRACA LTDA
1                               POSTO ARAPIRACA LTDA
2                               POSTO ARAPIRACA LTDA
3                               POSTO ARAPIRACA LTDA
4                               POSTO ARAPIRACA LTDA
                             ...
168404    COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168405             ABC DISTRIBUICAO DE PETROLEO LTDA
168406             ABC DISTRIBUICAO DE PETROLEO LTDA
168407             ABC DISTRIBUICAO DE PETROLEO LTDA
168408             ABC DISTRIBUICAO DE PETROLEO LTDA
Name: Revenda, Length: 168409, dtype: object

In [9]:
# Filtrar por mais de uma coluna
ca_df = combustiveis_df[['Revenda', 'Municipio','Produto', 'Valor de Venda']]
display(ca_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
1,POSTO ARAPIRACA LTDA,ARAPIRACA,ETANOL,5.299
2,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL,5.549
3,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA ADITIVADA,6.899
4,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL S10,5.649
...,...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,ETANOL,5.859
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,ETANOL,4.740
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,DIESEL S10,5.448
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA ADITIVADA,6.580

Warning: total number of rows (168409) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
# Filtra a linha de índice 3 e exibe o valor de cada coluna nesta linha 
display(ca_df.loc[3])

Revenda           POSTO ARAPIRACA LTDA
Municipio                    ARAPIRACA
Produto             GASOLINA ADITIVADA
Valor de Venda                   6.899
Name: 3, dtype: object

In [10]:
ca_df.loc[2035]

Revenda           ABASTECEDORA APARECIDA DO NORTE LTDA
Municipio                                 RONDONOPOLIS
Produto                                         ETANOL
Valor de Venda                                   5.019
Name: 2035, dtype: object

In [13]:
ca_df.loc[2035, 'Produto'] # Filtro de linha (índice) e coluna

'ETANOL'

In [16]:
ca_df.loc[1:3, ['Produto', 'Valor de Venda']] # Filtro de um intervalo de linhas (índices) e uma lista de colunas

              Produto  Valor de Venda
1              ETANOL           5.299
2              DIESEL           5.549
3  GASOLINA ADITIVADA           6.899

In [21]:
ca_df['Produto'] == 'GASOLINA'

0          True
1         False
2         False
3         False
4         False
          ...
168404    False
168405     True
168406    False
168407    False
168408    False
Name: Produto, Length: 168409, dtype: bool

In [24]:
ca_df.loc[ca_df['Produto'] == 'GASOLINA']   # Filtrando as linhas onde o Produto seja GASOLINA

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
5,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,GASOLINA,7.198
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,GASOLINA,7.197
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA,7.175
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

In [25]:
ca_df.loc[ca_df['Municipio'] == 'SALVADOR']   # Filtrando as linhas onde o Municipio seja SALVADOR

,Revenda,Municipio,Produto,Valor de Venda
66,MP COMERCIO DE COMBUSTIVEIS LTDA,SALVADOR,GASOLINA,6.63
67,MP COMERCIO DE COMBUSTIVEIS LTDA,SALVADOR,ETANOL,5.63
68,MP COMERCIO DE COMBUSTIVEIS LTDA,SALVADOR,GASOLINA ADITIVADA,6.63
69,MP COMERCIO DE COMBUSTIVEIS LTDA,SALVADOR,GASOLINA,6.63
70,MP COMERCIO DE COMBUSTIVEIS LTDA,SALVADOR,ETANOL,5.63
...,...,...,...,...
166613,POSTO GAMELEIRA LTDA,SALVADOR,GASOLINA ADITIVADA,6.68
166614,POSTO GAMELEIRA LTDA,SALVADOR,DIESEL S10,5.48
166615,POSTO GAMELEIRA LTDA,SALVADOR,GNV,3.98
166616,POSTO GAMELEIRA LTDA,SALVADOR,GASOLINA,6.58
166617,POSTO GAMELEIRA LTDA,SALVADOR,ETANOL,5.58

In [28]:
# Filtrando as linhas onde o Municipio seja SALVADOR e Produto seja GASOLINA
ca_df.loc[(ca_df['Municipio'] == 'SALVADOR') & (ca_df['Produto'] == 'GASOLINA')]

,Revenda,Municipio,Produto,Valor de Venda
66,MP COMERCIO DE COMBUSTIVEIS LTDA,SALVADOR,GASOLINA,6.630
69,MP COMERCIO DE COMBUSTIVEIS LTDA,SALVADOR,GASOLINA,6.630
77,GAIVOTA COMERCIO DE COMBUSTIVEIS LUBRIFICANTES...,SALVADOR,GASOLINA,6.630
84,POSTO KALILANDIA LTDA,SALVADOR,GASOLINA,6.670
88,PETROMERC DERIVADOS DE PETROLEO LTDA.,SALVADOR,GASOLINA,6.630
...,...,...,...,...
166143,POSTO JARDIM ARMACAO COMBUSTIVEIS LTDA. - EPP,SALVADOR,GASOLINA,6.790
166153,POSTO DE COMBUSTIVEIS LTDA.,SALVADOR,GASOLINA,6.790
166240,ENTREPOSTO COMERCIAL DE AMARALINA LTDA,SALVADOR,GASOLINA,6.510
166347,F A MARTINS DERIVADOS DE PETROLEO LTDA,SALVADOR,GASOLINA,6.999
166616,POSTO GAMELEIRA LTDA,SALVADOR,GASOLINA,6.580

In [30]:
""" Criar um dataframe gas_df contendo 
apenas as 4 colunas (Revenda, Municipio, Produto, Valor de Venda)
somente com combustível sendo GASOLINA e exibir na tela """

gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
5,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,GASOLINA,7.198
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,GASOLINA,7.197
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA,7.175
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

In [29]:
display(gas_df['Valor de Venda'].max())  # Exibindo o maior valor de revenda do DataFrame gas_df

7.999

In [32]:
#DataFrame.loc[] com múltiplas condições para filtragem
#Quais são os preços, postos que vendem ETANOL na minha cidade (INDAIATUBA) 
#ordenado do menor valor de venda para o maior
etanol_indaiatuba_df = ca_df.loc[(ca_df['Produto'] == 'ETANOL') & (ca_df['Municipio'] == 'INDAIATUBA')]
etanol_indaiatuba_df

,Revenda,Municipio,Produto,Valor de Venda
12774,COMERCIAL DE COMBUSTIVEIS INDAIA US LTDA,INDAIATUBA,ETANOL,5.447
12778,HELVETIA COMERCIO DE COMBUSTIVEIS E SERVICOS LTDA,INDAIATUBA,ETANOL,5.447
12783,CENTRO AUTOMOTIVO RIVIERA TROPICAL LTDA,INDAIATUBA,ETANOL,5.079
12788,AUTO POSTO JARDIM CALIFORNIA LTDA.,INDAIATUBA,ETANOL,4.999
12790,POSTO TREMENDAO LUBRIFICANTES E SERVIÇOS LTDA,INDAIATUBA,ETANOL,5.199
...,...,...,...,...
159497,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
160592,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,4.679
160806,POSTO RECREIO OURO LTDA,INDAIATUBA,ETANOL,4.999
160994,POSTO DOS ESTEVES LTDA,INDAIATUBA,ETANOL,4.999
161798,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,INDAIATUBA,ETANOL,4.899

In [33]:
display(etanol_indaiatuba_df.sort_values(by='Valor de Venda'))  # Ordenando do menor para o maior o valor de vendas

,Revenda,Municipio,Produto,Valor de Venda
160592,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,4.679
140194,CENTRO AUTOMOTIVO RIVIERA TROPICAL LTDA,INDAIATUBA,ETANOL,4.679
140661,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
159497,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
141167,AUTO POSTO ESPLANADA DE INDAIA LTDA,INDAIATUBA,ETANOL,4.699
...,...,...,...,...
51129,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
51138,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,5.599
84395,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,5.599
65878,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
65363,AUTO POSTO INDIANA SELF LTDA.,INDAIATUBA,ETANOL,6.197

In [34]:
display(etanol_indaiatuba_df.sort_values(by='Valor de Venda', ascending=False))  # Ordenando do maior para o menor o valor de vendas

,Revenda,Municipio,Produto,Valor de Venda
65363,AUTO POSTO INDIANA SELF LTDA.,INDAIATUBA,ETANOL,6.197
65878,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
84395,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,5.599
51129,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
33096,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
...,...,...,...,...
159497,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
141167,AUTO POSTO ESPLANADA DE INDAIA LTDA,INDAIATUBA,ETANOL,4.699
140661,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
160592,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,4.679
140194,CENTRO AUTOMOTIVO RIVIERA TROPICAL LTDA,INDAIATUBA,ETANOL,4.679

In [47]:
# Filtrando as linhas onde o Municipio seja SALVADOR e Bairro BARRA e Produto seja GASOLINA OU Municipio seja MANAUS com produto ETANOL 
combustiveis_df.loc[((combustiveis_df['Municipio'] == 'SALVADOR') & (combustiveis_df['Bairro'] == 'BARRA') & (combustiveis_df['Produto'] == 'GASOLINA')) | ((combustiveis_df['Municipio'] == 'MANAUS') & (combustiveis_df['Produto'] == 'ETANOL'))]

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
163,NE,BA,SALVADOR,RODRIGUES TORRES COMERCIO E DERIVADOS DE PETRO...,73.413.601/0003-61,RUA MIGUEL BURNIER,1,NaN,BARRA,40140-190,GASOLINA,2021-11-01,6.630,NaN,R$ / litro,BRANCA
1620,N,AM,MANAUS,NAVERIO NAVEGACAO DO RIO AMAZONAS LTDA,84.477.215/0017-55,AVENIDA ALVARO BOTELHO MAIA,5,NaN,PRESIDENTE VARGAS,69025-080,ETANOL,2021-11-01,5.290,NaN,R$ / litro,SABBÁ
1625,N,AM,MANAUS,AUTO POSTO MASTER LTDA,02.569.360/0001-34,AVENIDA CAMAPUA,2095,NaN,CIDADE NOVA,69097-720,ETANOL,2021-11-01,5.240,NaN,R$ / litro,BRANCA
1629,N,AM,MANAUS,POSTO SAO FRANCISCO LTDA,84.466.374/0001-97,RUA PORACANA,9,"QUADRA1, CJ. ETAPA 1",CIDADE NOVA,69090-200,ETANOL,2021-11-01,5.250,NaN,R$ / litro,SABBÁ
1633,N,AM,MANAUS,INTERLAGOS DERIVADOS DE PETRÓLEO LTDA.,06.539.938/0001-60,RUA JOÃO CÂMARA,17,"QD. 428, CONJUNTO CIDADE NOVA IV-ETAPA 4-NUCLE...",CIDADE NOVA,69098-320,ETANOL,2021-11-01,5.099,NaN,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161840,N,AM,MANAUS,POSTO NOVO ALEIXO COMERCIO VAREJISTA DE COMBUS...,29.391.837/0001-90,RUA JOAO DOURADO,745,NaN,NOVO ALEIXO,69098-198,ETANOL,2021-12-28,5.290,NaN,R$ / litro,ATEM' S
161852,N,AM,MANAUS,D DA C SAMPAIO,10.272.444/0001-30,RUA JOAO CAMARA,545,LOTE NOVO ALEIXO,NOVO ALEIXO,69098-165,ETANOL,2021-12-28,5.170,NaN,R$ / litro,BRANCA
161911,N,AM,MANAUS,AUTO POSTO REZENDE PARQUE DEZ LTDA,22.999.999/0001-67,RUA ALEXANDRE MAGNO,110,NaN,PARQUE 10 DE NOVEMBRO,69054-723,ETANOL,2021-12-28,5.390,NaN,R$ / litro,RZD DISTRIBUIDORA
161916,N,AM,MANAUS,J A COMERCIO DE DERIVADOS DE PETROLEO LTDA,20.815.998/0001-90,AVENIDA CONSTANTINO NERY,1016,NaN,SAO GERALDO,69050-000,ETANOL,2021-12-28,5.290,NaN,R$ / litro,ATEM' S
162393,NE,BA,SALVADOR,RODRIGUES TORRES COMERCIO E DERIVADOS DE PETRO...,73.413.601/0003-61,RUA MIGUEL BURNIER,1,NaN,BARRA,40140-190,GASOLINA,2021-12-29,6.510,NaN,R$ / litro,BRANCA

In [48]:
# Filtrando as linhas onde o Municipio seja SALVADOR e Bairro BARRA e Produto seja GASOLINA OU Municipio seja MANAUS com produto ETANOL, somente as duas primeiras linhas
combustiveis_df.loc[((combustiveis_df['Municipio'] == 'SALVADOR') & (combustiveis_df['Bairro'] == 'BARRA') & (combustiveis_df['Produto'] == 'GASOLINA')) | ((combustiveis_df['Municipio'] == 'MANAUS') & (combustiveis_df['Produto'] == 'ETANOL'))].head(2)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
163,NE,BA,SALVADOR,RODRIGUES TORRES COMERCIO E DERIVADOS DE PETRO...,73.413.601/0003-61,RUA MIGUEL BURNIER,1,NaN,BARRA,40140-190,GASOLINA,2021-11-01,6.63,NaN,R$ / litro,BRANCA
1620,N,AM,MANAUS,NAVERIO NAVEGACAO DO RIO AMAZONAS LTDA,84.477.215/0017-55,AVENIDA ALVARO BOTELHO MAIA,5,NaN,PRESIDENTE VARGAS,69025-080,ETANOL,2021-11-01,5.29,NaN,R$ / litro,SABBÁ

In [49]:
# Filtrando as linhas onde o Municipio seja SALVADOR e Bairro BARRA e Produto seja GASOLINA OU Municipio seja MANAUS com produto ETANOL, somente a coluna valor de venda das duas primeiras linhas
combustiveis_df.loc[((combustiveis_df['Municipio'] == 'SALVADOR') & (combustiveis_df['Bairro'] == 'BARRA') & (combustiveis_df['Produto'] == 'GASOLINA')) | ((combustiveis_df['Municipio'] == 'MANAUS') & (combustiveis_df['Produto'] == 'ETANOL'))].head(2)['Valor de Venda']

163     6.63
1620    5.29
Name: Valor de Venda, dtype: float64

In [50]:
# Filtrando as linhas onde o Municipio seja SALVADOR e Bairro BARRA e Produto seja GASOLINA OU Municipio seja MANAUS com produto ETANOL, o maior valor de venda dentre as duas primeiras linhas
combustiveis_df.loc[((combustiveis_df['Municipio'] == 'SALVADOR') & (combustiveis_df['Bairro'] == 'BARRA') & (combustiveis_df['Produto'] == 'GASOLINA')) | ((combustiveis_df['Municipio'] == 'MANAUS') & (combustiveis_df['Produto'] == 'ETANOL'))].head(2)['Valor de Venda'].max()

6.63

In [ ]:
display(combustiveis_df.loc[(combustiveis_df['Bairro'] == 'MOOCA') & (combustiveis_df['Municipio'] == 'SAO PAULO') & ((combustiveis_df['Produto'] == 'GASOLINA') | (combustiveis_df['Produto'] == 'GASOLINA ADITIVADA')),['Valor de Venda']].mean())

Valor de Venda    6.575596
dtype: float64

In [51]:
ca_df[['Produto', 'Valor de Venda']]

                   Produto  Valor de Venda
0                 GASOLINA           6.799
1                   ETANOL           5.299
2                   DIESEL           5.549
3       GASOLINA ADITIVADA           6.899
4               DIESEL S10           5.649
...                    ...             ...
168404              ETANOL           5.859
168405            GASOLINA           6.580
168406              ETANOL           4.740
168407          DIESEL S10           5.448
168408  GASOLINA ADITIVADA           6.580

[168409 rows x 2 columns]

In [54]:
# Menor valor de venda por Produto 
ca_df[['Produto', 'Valor de Venda']].groupby(by='Produto').min()    # groupby sempre é acompanhado de uma função de agregação (max, min, count, sum, mean..)

                    Valor de Venda
Produto
DIESEL                       4.070
DIESEL S10                   4.099
ETANOL                       3.997
GASOLINA                     5.259
GASOLINA ADITIVADA           5.299
GNV                          2.849

In [58]:
# Maior valor de venda por Produto 
ca_df[['Produto', 'Valor de Venda']].groupby(by='Produto').max().round(1)   # groupby sempre é acompanhado de uma função de agregação (max, min, count, sum, mean..)

                    Valor de Venda
Produto
DIESEL                         7.0
DIESEL S10                     7.0
ETANOL                         7.9
GASOLINA                       8.0
GASOLINA ADITIVADA             9.0
GNV                            6.7

In [ ]:
# Como mostrar média de valor de venda POR COMBUSTÍVEL? 
media_por_combustivel = ca_df[['Produto', 'Valor de Venda']].groupby(by='Produto').mean().round(2)
display(media_por_combustivel)

                    Valor de Venda
Produto
DIESEL                        5.38
DIESEL S10                    5.45
ETANOL                        5.46
GASOLINA                      6.71
GASOLINA ADITIVADA            6.86
GNV                           4.39

In [ ]:
#Quero adicionar uma coluna de valor booleano no combustiveis_df
# chamada "Ativo" que, por padrão, vai ser True para
# TODAS as linhas
combustiveis_df['Ativo'] = True
print(combustiveis_df.info())
display(combustiveis_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
 16  Ativo              168409 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(13)
memory usage: 20.7+ MB
None

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True

In [59]:
# E se eu quiser uma coluna nova, chamada "Obs"
# que preencha automaticamente "MELHOR CIDADE"
# quando o Municipio for INDAIATUBA, SP..;
# combustiveis_df['Obs'] = 'MELHOR CIDADE' if combustiveis_df['Municipio'] == 'INDAIATUBA' else

SyntaxError: ignored

In [ ]:
# Exportar para Excel o dataframe com etanol em Indaiatuba....
etanol_indaiatuba_df.to_excel('etanol_indaiatuba.xlsx', sheet_name='Etanol em Indaiatuba')