<a href="https://colab.research.google.com/github/grazi-rodrigues/AnimaCursoDeExtensaoPythonPandas2023/blob/main/Projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto com manipulação de dados usando Python Pandas.

## Autor(a): Graziele dos Santos Rodrigues

In [ ]:
# Importando biblioteca pandas no Python
import pandas as pd

### Criação do DataFrame

In [ ]:
# Criando um DataFrame a partir de um arquivo.
leito_ocupacao = pd.read_csv('esus-vepi.LeitoOcupacao_2022.csv')

In [ ]:
display(leito_ocupacao)

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291381,1601710,1vK5ubnssJ,2022-02-09T03:00:00.000Z,2323397,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$LDrSktZEXY,Piauí,Teresina,Piauí,Teresina,False,False,2023-02-09T12:08:41.581Z,2023-02-09T12:08:41.581Z
291382,1601711,zQUyGBwAmA,2022-02-09T03:00:00.000Z,2213516,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$5csSi5fQCL,Minas Gerais,Jeceaba,Minas Gerais,Jeceaba,False,False,2023-02-09T12:09:45.703Z,2023-02-09T12:09:45.703Z
291383,1601932,McZFXUQqnF,2022-02-10T03:00:00.000Z,6878687,NaN,NaN,NaN,NaN,1.0,1.0,...,parse-cloud,_User$ta6S5p2xwi,São Paulo,Franco da Rocha,São Paulo,Franco da Rocha,False,False,2023-02-10T10:45:16.498Z,2023-02-10T10:45:16.498Z
291384,1602033,Zc8l3tfnQ2,2022-01-23T03:00:00.000Z,7082886,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$XOhbKp0f62,Minas Gerais,Coronel Fabriciano,Minas Gerais,Coronel Fabriciano,False,False,2023-02-10T11:51:52.704Z,2023-02-10T11:51:52.704Z
291385,1602103,pJpdHcJVjX,2022-02-10T03:00:00.000Z,2082934,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$Kw5oEHlD9E,São Paulo,Taguaí,São Paulo,Taguaí,False,False,2023-02-10T12:48:54.264Z,2023-02-10T12:48:54.264Z

### Alguns comandos do DataFrame

In [ ]:
#Exibindo apenas as 5 primeiras linhas 
display(leito_ocupacao.head())

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z

In [29]:
# Exibindo somente 15 linhas
display(leito_ocupacao.head(15))

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z
5,1290494,3ACxSyKSCK,2022-01-01T03:00:37.005Z,2664984,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$qGap5eiTEq,Santa Catarina,Palmitos,Santa Catarina,Palmitos,False,False,2022-01-01T05:50:49.260Z,2022-01-01T05:50:49.260Z
6,1290495,NwjnjsHbot,2022-01-01T03:00:06.730Z,2252260,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$xM5hias4w2,Rio Grande do Sul,Estrela,Rio Grande do Sul,Estrela,False,False,2022-01-01T05:53:25.682Z,2022-01-01T05:53:25.682Z
7,1290496,phtJiP6gpe,2022-01-01T03:00:21.351Z,2078511,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$q46U1ECOev,São Paulo,Ilha Solteira,São Paulo,Ilha Solteira,False,False,2022-01-01T05:53:35.231Z,2022-01-01T05:53:35.231Z
8,1290498,DjdziRthvF,2022-01-01T03:00:37.452Z,2082438,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$yklFg4R3ag,São Paulo,Chavantes,São Paulo,Chavantes,False,False,2022-01-01T08:35:47.103Z,2022-01-01T08:35:47.103Z
9,1290499,CzqSqHKQiu,2022-01-01T03:00:22.259Z,2077655,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$spMHnfRCha,São Paulo,São Paulo,São Paulo,São Paulo,False,False,2022-01-01T08:43:00.591Z,2022-01-01T08:43:00.591Z
10,1290500,Dxb7NbHg5h,2022-01-01T03:00:44.698Z,2250802,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$0wPKZRMBPK,Rio Grande do Sul,Campina das Missões,Rio Grande do Sul,Campina das Missões,False,False,2022-01-01T08:49:25.411Z,2022-01-01T08:49:25.411Z
11,1290501,Ao1uOodYCZ,2022-01-01T03:00:15.398Z,4054695,NaN,NaN,NaN,NaN,3.0,1.0,...,parse-cloud,_User$jnuYKPAj1L,Paraná,Palotina,Paraná,Palotina,False,False,2022-01-01T09:13:13.966Z,2022-01-01T09:13:13.966Z
12,1290503,m4Y8OTlYyL,2022-01-01T03:00:46.652Z,2091267,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$dhmqBf0VOQ,São Paulo,Santa Rita do Passa Quatro,São Paulo,Santa Rita do Passa Quatro,False,False,2022-01-01T09:24:48.668Z,2022-01-01T09:24:48.668Z
13,1290504,mZ98r8PBcH,2022-01-01T03:00:20.504Z,2760681,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$k1UHRmnd2r,Minas Gerais,Aiuruoca,Minas Gerais,Aiuruoca,False,False,2022-01-01T09:35:14.370Z,2022-01-01T09:35:14.370Z
14,1290505,KLB7vMiCu3,2022-01-01T03:00:24.957Z,2168421,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$NpofJm9yZB,Minas Gerais,Areado,Minas Gerais,Areado,False,False,2022-01-01T09:36:38.754Z,2022-01-01T09:36:38.754Z

In [ ]:
# Com o DataFrame.shape será exibido a quantidade de linhas e colunas
display(leito_ocupacao.shape)

(291386, 26)

In [ ]:
#Quais são as colunas e que tipo de dados cada um tem...
print(leito_ocupacao.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291386 entries, 0 to 291385
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             291386 non-null  int64
 1   _id                    291386 non-null  object
 2   dataNotificacao        291386 non-null  object
 3   cnes                   291386 non-null  object
 4   ocupacaoSuspeitoCli    1 non-null       float64
 5   ocupacaoSuspeitoUti    1 non-null       float64
 6   ocupacaoConfirmadoCli  1 non-null       float64
 7   ocupacaoConfirmadoUti  1 non-null       float64
 8   ocupacaoCovidUti       291386 non-null  float64
 9   ocupacaoCovidCli       291386 non-null  float64
 10  ocupacaoHospitalarUti  291386 non-null  float64
 11  ocupacaoHospitalarCli  291386 non-null  float64
 12  saidaSuspeitaObitos    291386 non-null  float64
 13  saidaSuspeitaAltas     291386 non-null  float64
 14  saidaConfirmadaObitos  291386 non-null  float64
 15  saidaConfirmadaAltas   291386 non-null  float64
 16  origem                 291386 non-null  object
 17  _p_usuario             291386 non-null  object
 18  estadoNotificacao      291386 non-null  object
 19  municipioNotificacao   291386 non-null  object
 20  estado                 291386 non-null  object
 21  municipio              291386 non-null  object
 22  excluido               291386 non-null  bool
 23  validado               291386 non-null  bool
 24  _created_at            291386 non-null  object
 25  _updated_at            291386 non-null  object
dtypes: bool(2), float64(12), int64(1), object(11)
memory usage: 53.9+ MB
None

In [ ]:
# Gerando informações estatísticas mais básica que a info(). 
print(leito_ocupacao.describe())

         Unnamed: 0  ocupacaoSuspeitoCli  ocupacaoSuspeitoUti  \
count  2.913860e+05                  1.0                  1.0
mean   1.444547e+06                 13.0                  8.0
std    8.559920e+04                  NaN                  NaN
min    6.415080e+05                 13.0                  8.0
25%    1.372258e+06                 13.0                  8.0
50%    1.445436e+06                 13.0                  8.0
75%    1.518388e+06                 13.0                  8.0
max    1.602103e+06                 13.0                  8.0

       ocupacaoConfirmadoCli  ocupacaoConfirmadoUti  ocupacaoCovidUti  \
count                    1.0                    1.0      291386.00000
mean                     0.0                    0.0           2.04865
std                      NaN                    NaN           7.04565
min                      0.0                    0.0          -7.00000
25%                      0.0                    0.0           0.00000
50%                      0.0                    0.0           0.00000
75%                      0.0                    0.0           1.00000
max                      0.0                    0.0         300.00000

       ocupacaoCovidCli  ocupacaoHospitalarUti  ocupacaoHospitalarCli  \
count     291386.000000          291386.000000          291386.000000
mean           2.998977               9.264992              39.273569
std           41.245997              24.827060              78.630168
min           -1.000000              -5.000000              -1.000000
25%            0.000000               0.000000               2.000000
50%            0.000000               0.000000              13.000000
75%            2.000000              10.000000              46.000000
max        21701.000000            8191.000000           21701.000000

       saidaSuspeitaObitos  saidaSuspeitaAltas  saidaConfirmadaObitos  \
count        291386.000000       291386.000000          291386.000000
mean              0.120877            0.537301               0.818368
std               2.519175            8.942772              14.128184
min              -5.000000           -5.000000              -2.000000
25%               0.000000            0.000000               0.000000
50%               0.000000            0.000000               0.000000
75%               0.000000            0.000000               0.000000
max             596.000000         3292.000000            3300.000000

       saidaConfirmadaAltas
count         291386.000000
mean               5.701925
std              144.077246
min               -6.000000
25%                0.000000
50%                0.000000
75%                0.000000
max             9167.000000

In [ ]:
# Buscando apenas uma coluna
display(leito_ocupacao['municipio'])

0                        Mafra
1                     Umuarama
2                     Ilhabela
3         Bernardino de Campos
4                       Bastos
                  ...
291381                Teresina
291382                 Jeceaba
291383         Franco da Rocha
291384      Coronel Fabriciano
291385                  Taguaí
Name: municipio, Length: 291386, dtype: object

In [33]:
# Aqui criamos outro DataFrame com apenas algumas colunas 
conf_df = leito_ocupacao[['_id', 'dataNotificacao', 'estado', 'ocupacaoCovidUti', 'ocupacaoCovidCli', 'saidaConfirmadaAltas']] 
display(conf_df)

,_id,dataNotificacao,estado,ocupacaoCovidUti,ocupacaoCovidCli,saidaConfirmadaAltas
0,PBGTlqtFBP,2022-01-17T03:00:00.000Z,Santa Catarina,0.0,1.0,1.0
1,ipPHkH1yIB,2022-01-05T03:00:00.000Z,Paraná,0.0,0.0,0.0
2,oDyVTndNXc,2022-01-01T03:00:50.682Z,São Paulo,1.0,9.0,0.0
3,cTrwNtInVV,2022-01-01T03:00:08.570Z,São Paulo,0.0,1.0,0.0
4,CPkiO32WyI,2022-01-01T03:00:14.691Z,São Paulo,0.0,0.0,0.0
...,...,...,...,...,...,...
291381,1vK5ubnssJ,2022-02-09T03:00:00.000Z,Piauí,0.0,0.0,0.0
291382,zQUyGBwAmA,2022-02-09T03:00:00.000Z,Minas Gerais,0.0,0.0,0.0
291383,McZFXUQqnF,2022-02-10T03:00:00.000Z,São Paulo,1.0,1.0,0.0
291384,Zc8l3tfnQ2,2022-01-23T03:00:00.000Z,Minas Gerais,0.0,0.0,0.0
291385,pJpdHcJVjX,2022-02-10T03:00:00.000Z,São Paulo,0.0,0.0,0.0