<a href="https://colab.research.google.com/github/grazi-rodrigues/AnimaCursoDeExtensaoPythonPandas2023/blob/main/Projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto com manipulação de dados usando Python Pandas.

## Autor(a): Graziele dos Santos Rodrigues

In [1]:
# Importando biblioteca pandas no Python
import pandas as pd

### Criação do DataFrame

In [10]:
# Criando um DataFrame a partir de um arquivo.
leito_ocupacao = pd.read_csv('esus-vepi.LeitoOcupacao_2022.csv')

In [9]:
display(leito_ocupacao)

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291381,1601710,1vK5ubnssJ,2022-02-09T03:00:00.000Z,2323397,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$LDrSktZEXY,Piauí,Teresina,Piauí,Teresina,False,False,2023-02-09T12:08:41.581Z,2023-02-09T12:08:41.581Z
291382,1601711,zQUyGBwAmA,2022-02-09T03:00:00.000Z,2213516,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$5csSi5fQCL,Minas Gerais,Jeceaba,Minas Gerais,Jeceaba,False,False,2023-02-09T12:09:45.703Z,2023-02-09T12:09:45.703Z
291383,1601932,McZFXUQqnF,2022-02-10T03:00:00.000Z,6878687,NaN,NaN,NaN,NaN,1.0,1.0,...,parse-cloud,_User$ta6S5p2xwi,São Paulo,Franco da Rocha,São Paulo,Franco da Rocha,False,False,2023-02-10T10:45:16.498Z,2023-02-10T10:45:16.498Z
291384,1602033,Zc8l3tfnQ2,2022-01-23T03:00:00.000Z,7082886,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$XOhbKp0f62,Minas Gerais,Coronel Fabriciano,Minas Gerais,Coronel Fabriciano,False,False,2023-02-10T11:51:52.704Z,2023-02-10T11:51:52.704Z
291385,1602103,pJpdHcJVjX,2022-02-10T03:00:00.000Z,2082934,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$Kw5oEHlD9E,São Paulo,Taguaí,São Paulo,Taguaí,False,False,2023-02-10T12:48:54.264Z,2023-02-10T12:48:54.264Z

In [4]:
print(leito_ocupacao.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214852 entries, 0 to 214851
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             214852 non-null  int64
 1   _id                    214852 non-null  object
 2   dataNotificacao        214852 non-null  object
 3   cnes                   214851 non-null  object
 4   ocupacaoSuspeitoCli    1 non-null       float64
 5   ocupacaoSuspeitoUti    1 non-null       float64
 6   ocupacaoConfirmadoCli  1 non-null       float64
 7   ocupacaoConfirmadoUti  1 non-null       float64
 8   ocupacaoCovidUti       214851 non-null  float64
 9   ocupacaoCovidCli       214851 non-null  float64
 10  ocupacaoHospitalarUti  214851 non-null  float64
 11  ocupacaoHospitalarCli  214851 non-null  float64
 12  saidaSuspeitaObitos    214851 non-null  float64
 13  saidaSuspeitaAltas     214851 non-null  float64
 14  saidaConfirmadaObitos  214851 non-null  float64
 15  saidaConfirmadaAltas   214851 non-null  float64
 16  origem                 214851 non-null  object
 17  _p_usuario             214851 non-null  object
 18  estadoNotificacao      214851 non-null  object
 19  municipioNotificacao   214851 non-null  object
 20  estado                 214851 non-null  object
 21  municipio              214851 non-null  object
 22  excluido               214851 non-null  object
 23  validado               214851 non-null  object
 24  _created_at            214851 non-null  object
 25  _updated_at            214851 non-null  object
dtypes: float64(12), int64(1), object(13)
memory usage: 42.6+ MB
None

In [12]:
#Exibindo apenas as 5 primeiras linhas 
display(leito_ocupacao.head())

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z

### Comandos de um DataFrame

In [13]:
# Com o DataFrame.shape será exibido a quantidade de linhas e colunas
display(leito_ocupacao.shape)

(291386, 26)